/* home.css */
.home-container {
    background-color: rgb(255, 255, 255);
    /* Arka plan rengi */
    color: rgb(0, 0, 0);
    /* Metin rengi */
}





.section {
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    animation: fadeIn 1s ease-in-out;
    /* Bölümler için fadeIn animasyonu */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.content-wrapper {
    width: 100%;
    max-width: 800px;
    text-align: center;
    animation: scaleIn 0.5s ease;
    /* İçerik için scaleIn animasyonu */
}

@keyframes scaleIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    animation: slideIn 0.8s ease;
    /* Başlıklar için slideIn animasyonu */
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

p {
    font-size: 1.2rem;
    padding-inline: 30px;
    margin-bottom: 20px;
}

.book-list {
    margin-top: 20px;
}

.book-list a {
    text-decoration: none;
}

.book-item {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}

.kitap .img {
    transition-duration: 0.30s;
}

.img:hover {
    scale: 1.1;
    transition-duration: 0.30s;
}

.kitap .img img {
    height: 350px;
    width: 300px;
    border-radius: 5px;
}

.kitap div {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: rgb(8, 45, 68);
    /* Form arka plan rengi */
    transition: background-color 0.3s;
    color: white;
    background-color: black;
}

.contact-form input:focus,
.contact-form textarea:focus {
    background-color: rgb(255, 255, 255);
    color: black;
}

.contact-form button {
    background-color: black;
    /* Buton rengi */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: transform 0.3s, box-shadow 0.3s;
}

.contact-form button:hover {
    transform: scale(1.05);
    /* Buton büyütme animasyonu */
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.2);
    /* Gölgelendirme efekti */
}