.homeanadiv h1 {
    text-align: center;
}

.kitap {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
}

.kitap .img {
    height: 200px;
    width: 213px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 5px;
    color: rgb(0, 0, 0);
}

.kitap .img img {
    height: 350px;
    width: 300px;
    border-radius: 5px;
}

.kitap div {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.duyurular {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.duyurular .announcement-item {
    min-height: 150px;
    min-width: 200px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px rgba(199, 199, 199, 0.44);
}

.duyurular .announcement-item h3 {
    font-size: 20px;
    color: rgba(255, 0, 68, 0.897);
    text-align: center;
}

.duyurular .announcement-item .icon {
    display: flex;
    justify-content: center;
}

.duyurular .announcement-item p {
    font-size: 15px;
    opacity: 0.8;
}

.bolumler {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 60px;
}

.bolumler .bolum {
    height: 150px;
    width: 350px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px rgba(199, 199, 199, 0.44);
    display: grid;
    justify-content: center;
    transition-duration: 0.30s;
}

.bolumler .bolum:hover {
    scale: 1.1;
    transition-duration: 0.30s;
    box-shadow: 0 0 40px rgb(145, 145, 145);
}

.bolumler .bolum h4 {
    text-align: center;
}

.bolumler .bolum .etkilesim {
    display: flex;
    justify-content: center;
    gap: 3rem;
}


.bolumler .bolum .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}


.bolumler .bolum .button button {
    background-color: rgb(11, 0, 16);
    border-radius: 15px;
    height: 30px;
    width: 60px;
    border: 2px solid white;
    transition-duration: 0.30s;
    color: white;
}


.bolumler .bolum .button button:hover {
    scale: 1.1;
    transition-duration: 0.30s;
    box-shadow: 0 0 20px rgb(78, 78, 78);
}

.bolumler .bolum .button button:active {
    scale: 0.9;
    transition-duration: 0.30s;

}

.OkumaSayfasi {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 3;
    background-color: transparent;
    padding-bottom: 20px;
}

.OkumaSayfasi .hizalamadiv {
    display: grid;
    justify-content: center;
    align-items: center;
}

.OkumaSayfasi .hizalamadiv .div {
    display: grid;
    width: 750px;
    height: 650px;
    margin-top: 70px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(199, 199, 199, 0.44);
    text-align: justify;
    background-color: rgb(255, 255, 255);
    gap: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;
    scale: 0.8;
}

.OkumaSayfasi .hizalamadiv .div .bolumbaslik {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 20px;
    padding-inline: 15px;
}

#root>div.homeanadiv>div.OkumaSayfasi>div>div>div.baslikfixed {
    display: flex;
    justify-content: start;
}

#root>div.homeanadiv>div.OkumaSayfasi>div>div>div.baslikfixed>div {
    position: fixed;
    display: grid;
    align-items: center;
    width: 99%;
    height: 65px;
    background-color: rgb(255, 255, 255);
    top: 2px;
    border-radius: 15px;
    padding-top: 17px;
}

.IoMdClose {
    color: rgba(255, 0, 68, 0.897);
    transition-duration: 0.20s;
}

.IoMdClose:hover {
    scale: 1.2;
    transition-duration: 0.20s;
}

.icerik ul {
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 500px;
}

.icerik ul li {
    text-align: justify;
    font-size: 35px;
    font-weight: 500;
}

.bölümetkilesim {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 635px;
    right: 0;
    width: 95%;
    padding: 0 20px 0 20px;
}

.bölümetkilesim button {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: 600;
    box-shadow: 0 0 30px rgb(104, 104, 104);
    outline: 0;
    border: 0;
    transition-duration: 0.20s;
}

.bölümetkilesim button:hover {
    scale: 1.1;
    transition-duration: 0.20s;
}

.bölümetkilesim button:active {
    scale: 0.9;
    transition-duration: 0.20s;
}

.yorumİmage {
    transition-duration: 0.20s;
}

.yorumİmage:hover {
    scale: 1.1;
    transition-duration: 0.20s;
}

.yorumİmage:active {
    scale: 0.9;
    transition-duration: 0.20s;
}


.yorum-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
    background-color: transparent;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
}

.yorum-panel-icerik {
    display: grid;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 15px;
    border: 1px solid white;
    box-shadow: 0 0 292px 0px rgb(145, 145, 145);
}

.yorum-panel-icerik textarea,
.input {
    outline: 0;
    border: 1px solid white;
    min-height: 30px;
    min-width: 200px;
    max-height: 100px;
    max-width: 250px;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-indent: 6px;
    transition-duration: 0.20s;
}

.yorum-panel-icerik textarea:focus {
    height: 100px;
    width: 250px;
}

.yorum-panel-icerik textarea:focus,
.input:focus {
    transition-duration: 0.20s;
    scale: 1.1;
}

.yorum-panel-butonlar {
    display: flex;
    justify-content: space-between;
}

.yorum-panel-butonlar button {
    outline: 0;
    border: 0;
    height: 40px;
    width: 75px;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.897);
    color: rgb(255, 255, 255);
    transition-duration: 0.20s;

}

.yorum-panel-butonlar button:hover {
    scale: 1.1;
    box-shadow: 0 0 20px rgb(8, 45, 68);
    transition-duration: 0.20s;
}

.yorum-panel-butonlar button:active {
    scale: 0.9;
    transition-duration: 0.20s;
}

.yorumlar {
    display: grid;
    max-height: 150px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.yorumlar div h2 {
    text-align: left;
    font-size: medium;
}

.yorumlar div p {
    opacity: 0.5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.yorumlar hr {
    border: 0;
    height: 1px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    opacity: 0.2;
}

@media(max-width:678px) {
    .OkumaSayfasi .hizalamadiv .div {
        width: 645px;
    }
}

@media(max-width:473px) {
    .OkumaSayfasi .hizalamadiv .div {
        width: 445px;
    }
}

@media(max-width:403px) {
    .OkumaSayfasi .hizalamadiv .div {
        width: 345px;
    }
}